$theme-base: #5c5c5c;
$theme-hl: #0f9d58;
$theme-txt: #fff;

$track-w: 20em;
$track-h: .25em;
$track-pad: $track-h/2;

$thumb-d: 1.5em;

$input-w: $track-w + $track-h + $thumb-d;
$input-h: 5em;



// @mixin track() {
//   border: none;
//   padding: 0 $track-h/2;
//   width: $track-w; height: $track-h;
//   border-radius: $track-h/2;
//   background: $theme-base;
// }

// @mixin track-focus() {
//   .js & {
//     background: linear-gradient(transparent, transparent), linear-gradient($theme-hl, $theme-hl) no-repeat $theme-base;
//     background-size: $track-w/5 100%, 60% 100%;
//   }
// }

// @mixin track-active() {
//   background: radial-gradient(circle, white $track-h/2, transparent $track-h/2) ($track-w)/10 50% content-box border-box $theme-base;
//   background-size: $track-w/5 100%;

//   .js & {
//     background:  radial-gradient(circle, white $track-h/2, transparent $track-h/2)  ($track-w)/10 50% content-box border-box, linear-gradient($theme-hl, $theme-hl) no-repeat $theme-base;
//     background-size: $track-w/5 100%, 60% 100%;
//   }
// }

// @mixin thumb() {
//   box-sizing: border-box;
//   width: $thumb-d; height: $thumb-d;
//   border-radius: 50%;
//   background: $theme-base;
//   transition: .3s;
// }

// @mixin thumb-focus() {
//   background: $theme-hl;
// }


input[type='range'][class*="-discrete"] {
  &, 
  &::-webkit-slider-runnable-track, 
  &::-webkit-slider-thumb {
    -webkit-appearance: none
  }
  
  padding: 0;
  width: $input-w; 
  height: $input-h;

  background: transparent;
  font-size: 16px;
  cursor: pointer;
  
  &::-webkit-slider-runnable-track {
    margin: 0 $thumb-d/2;
    border: none;
  padding: 0 $track-h/2;
  width: $track-w; height: $track-h;
  border-radius: $track-h/2;
  background: $theme-base;
  }
  &::-moz-range-track {
    border: none;
  padding: 0 $track-h/2;
  width: $track-w; height: $track-h;
  border-radius: $track-h/2;
  background: $theme-base;
  }
  &::-ms-track {
    margin: 0 $thumb-d/2;
    border: none;
  padding: 0 $track-h/2;
  width: $track-w; height: $track-h;
  border-radius: $track-h/2;
  background: $theme-base;
    color: transparent;
  }
  
  &::-webkit-slider-thumb {
    margin-top: ($track-h - $thumb-d)/2;
    box-sizing: border-box;
  width: $thumb-d; height: $thumb-d;
  border-radius: 50%;
  background: $theme-base;
  transition: .3s;
  }
  &::-moz-range-thumb {
    box-sizing: border-box;
  width: $thumb-d; height: $thumb-d;
  border-radius: 50%;
  background: $theme-base;
  transition: .3s;
    cursor: ew-resize;
  }
  &::-ms-thumb {
    box-sizing: border-box;
  width: $thumb-d; height: $thumb-d;
  border-radius: 50%;
  background: $theme-base;
  transition: .3s;
  }
  
  &::-ms-fill-lower, 
  &::-ms-fill-upper {
    background: transparent;
  }
  
  .js & /deep/ #thumb {
    position: relative;
    
    &:before, &:after {
      position: absolute;
      left: 50%;
      transition: .7s cubic-bezier(.175, .885, .32, 1.775);
    }
    
    &:before {
      width: 2*$thumb-d; height: 2*$thumb-d;
      border-radius: 50% 50% 0 50%;
      transform: translate(-50%, -$thumb-d) rotate(45deg) scale(.2);
      opacity: .01;
      background: $theme-hl;
      content: '';
    }
    
    &:after {
      width: 3em;
      opacity: .01;
      transform: translate(-50%, 0) scale(.2);
      color: $theme-txt;
      text-align: center;
      content: '60';
    }
  }
  
  &:focus {
    outline: none;
    
    &::-webkit-slider-runnable-track {
       .js & {
    background: linear-gradient(transparent, transparent), linear-gradient($theme-hl, $theme-hl) no-repeat $theme-base;
    background-size: $track-w/5 100%, 60% 100%;
  }
    }
    &::-moz-range-track {
       .js & {
    background: linear-gradient(transparent, transparent), linear-gradient($theme-hl, $theme-hl) no-repeat $theme-base;
    background-size: $track-w/5 100%, 60% 100%;
  }
    }
    &::-ms-fill-lower {
      background: $theme-hl;
    }

    &::-webkit-slider-thumb {
        background: $theme-hl;
    }
    &::-moz-range-thumb {
        background: $theme-hl;
    }
    &::-ms-thumb {
        background: $theme-hl;
    }
    
    .js & /deep/ #thumb {
      &:before {
        transform: translate(-50%, -3*$thumb-d) rotate(45deg) scale(1);
        opacity: .99;
      }
      &:after {
        transform: translate(-50%, -2.25*$thumb-d) scale(1);
        opacity: .99;
      }
    }
  }
  
  &:active {
    &::-webkit-slider-runnable-track {
       background: radial-gradient(circle, white $track-h/2, transparent $track-h/2) ($track-w)/10 50% content-box border-box $theme-base;
  background-size: $track-w/5 100%;

  .js & {
    background:  radial-gradient(circle, white $track-h/2, transparent $track-h/2)  ($track-w)/10 50% content-box border-box, linear-gradient($theme-hl, $theme-hl) no-repeat $theme-base;
    background-size: $track-w/5 100%, 60% 100%;
  }
    }
    &::-moz-range-track {
       background: radial-gradient(circle, white $track-h/2, transparent $track-h/2) ($track-w)/10 50% content-box border-box $theme-base;
  background-size: $track-w/5 100%;

  .js & {
    background:  radial-gradient(circle, white $track-h/2, transparent $track-h/2)  ($track-w)/10 50% content-box border-box, linear-gradient($theme-hl, $theme-hl) no-repeat $theme-base;
    background-size: $track-w/5 100%, 60% 100%;
  }
    }
    &::-ms-track {
      background: 
    radial-gradient(circle, 
      white $track-h/2, transparent $track-h/2) 
    ($track-w)/10 50% content-box border-box $theme-base;
  background-size: $track-w/5 100%;
    }
    &::-ms-fill-lower {
      background: 
    radial-gradient(circle, 
      white $track-h/2, transparent $track-h/2) 
    ($track-w)/10 50% content-box border-box $theme-hl;
  background-size: $track-w/5 100%;
    }

    &::-webkit-slider-thumb {
        background: $theme-hl;
    }
    &::-moz-range-thumb {
        background: $theme-hl;
    }
    &::-ms-thumb {
        background: $theme-hl;
    }
  }
}