// Lists

&[class*="-list-"]{
  padding: 0;
  margin: 0;
  list-style: none;
  margin: 1em auto;
  background: #fff;
  display: block;
  width: 100%;
  height: auto;



  li{
    padding: 1em;
  }

  &[class*="-seam"]{
    li{
      box-shadow: 0 1px 0 rgba(black, .2);
    }
  }

  &[class*="-step"]{
    li{
      box-shadow: 0 4px 4px -1px rgba(black, .2);
    }
  }
}

  // Inline lists
  &[class*="-inline-list"]{

    li{
      float: left;
      display: inline-block;
      padding: .65em;
      margin: 0 7.5px 7.5px 0;
      letter-spacing: .8px;
      border-radius: 2px;
      box-shadow: 0 0 1px #333;
      color: #333;
      padding: 0 0 !important; 

      a{
        color: #333;
        width: 100%;
        height: 100%; 
        display: block;
        float: left; 
        padding: .65em;
      }

      &:hover{
        background: rgba(#333, .1)
      }
    }
  }