.panel {
    box-sizing: border-box;
    color: #000;    
    padding: 16px 24px !important;
    background: #fff;
    border-radius: 2px;
    border: 0;
    box-shadow: 0 1px 6px rgba(0,0,0,.12),0 1px 6px rgba(0,0,0,.12);
    border-color: #ddd;
    transition: width .3s ease;
    height: auto;
    float: left;
    &+ .panel{
        margin-top: 1.4em;
    }
}